{% extends "blog/base.html" %}{% block content %}


<h1 class="title">{{post.title}}</h2>
<small>Posted at {{post.posted_date}}</small>
<p>{{post.intro}}</p>
<p>{{post.body}}</p>

<!--いいね機能-->
{% if likes_count %}
    <button type="button" id="like-button" data-post-id='{{ post.id }}' style="border:none;background:none">
        <i class="fas fa-heart text-danger" id="like-for-post-icon"></i>
    </button>
{% else %}
    <button type="button" id="like-button" data-post-id='{{ post.id }}' style="border:none;background:none">
        <i class="far fa-heart text-danger" id="like-for-post-icon"></i>
    </button>
{% endif %}

<!-- イイねの数 -->
<span id="like-for-post-count">{{ likes_count }}</span>
<span>件のイイね</span>
<hr />

<script>
let likeButtonDom = document.getElementById('like-button');
console.log(likeButtonDom)
function likeBUttonClick(){
    let postId = likeButtonDom.getAttribute('data-post-id');
    sendLikeRequest(postId);
    console.log(postId)
}

function sendLikeRequest(postId){
    let csrfToken = '{{ csrf_token }}';
    let requestUrl = `/post/${postId}/like/`;

    fetch(requestUrl, {
        method: 'POST',
        headers: { 'X-CSRFToken': csrfToken}
    })
    .then(response => response.json())
    .then(data => updateLikeCount(data.likes_count))
    .catch(function(error) { console.error('エラー:', error)})
}

function updateLikeCount(likeCount) {
    //console.log(likeCount);
    let like_countDom = document.getElementById('like-for-post-count');
    like_countDom.textContent = likeCount;
}

// イベントの登録
likeButtonDom.addEventListener('click', likeBUttonClick);

</script>
<!-- いいね機能ここまで -->


<!-- コメントされたものを表示 -->
<h2 class="subtitle">コメント</h2>
{% for comment in post.comments.all %}
<article class="media">
    <div class="media-content">
        <div class="content">
            <p>
                <strong>
                    {{comment.name}}
                    <small>{{comment.posted_date}}</small>
                </strong>
                <br>
                {{comment.body}}
            </p>
        </div>
    </div>
</article>
{% empty %}
<div class="notification">
    <p>コメントはまだありません</p>
</div>
{% endfor %}

<!-- コメント投稿エリア -->
<h2 class="subtitle">コメントを追加</h2>
<form action="." method="post">
    {% csrf_token %}
    {{form.as_p}}
    <div class="field">
        <div class="control">
            <button class="button is-danger">送信</button>
        </div>
    </div>
</form>

{% endblock %}